.navbar-wrapper{
    width: 90%;
    margin: auto;
    padding: 60px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    width: 90%;
    margin: auto;
    padding: 60px 0px;
}
.container-fluid{
    justify-content: space-between;
}
.brand-wrapper{
    width: 30%;
    display: flex;
}
.Logo{
    width: 30px;
    object-fit: contain;
}

.Name{
    width: 100px;
    object-fit: contain;
    margin-left: 8px;
}
.collapse{
    display: flex;
    justify-content: flex-end;
}
.navbar-nav{
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link{
    color: black ;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
    font-weight: 600;
}
@media screen and (max-width: 768px){
    .navbar-nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #fadfff;
    }
    .navbar-light .navbar-nav .nav-link{
        border-bottom: 1px solid grey;
    }
    .navbar-toggler{
        border: none;
    }
}
@media screen and (max-width: 440px){
    .container{
        padding: 20px 0px;
    }
    .collapse{
        display: flex;
    }
    .navbar-nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #fadfff;
    }
    .navbar-light .navbar-nav .nav-link{
        border-bottom: 1px solid grey;
    }
    .navbar-toggler{
        border: none;
    }
}