.section-header{
    color: #d8d8d8;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 500;
    width: 60%;
    margin: 50px auto;
}

@media screen and (max-width:440px)
{
    .section-header{
        width: 90%;
    }
}